.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header-container {
  display: flex;
  padding: 0 70px;
}

#header-container p {
  font-size: 15px;
  width: 100px;
  cursor: pointer;
  transition: opacity 0.3s;
}

#header-container p:hover {
  opacity: 0.3;
}


.home-container {
  padding: 50px;
}

.login-container {
  padding: 50px;
}

.register-container {
  padding: 50px;
}

.emails-container {
  padding: 50px;
}

.emails-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.email-item {
  margin-top: 35px;
  width: 250px;
}